<div class="mx-auto" style="margin-top: 10px">
  <%= link_to 'Edit', edit_car_path(@car), class: "h5 text-muted" %> |
  <%= link_to 'Destroy', @car, method: :delete, data: { confirm: 'Are you sure?' }, class: "h5 text-muted" %> |
  <%= link_to 'Back', root_path, class: "h5 text-muted" %>
</div>
